<!DOCTYPE html>
<html>
<head>
  <!-- Include the content of head.html -->
  <%= require('./head.html') %>
</head>
<body>
  <!-- Include the content of body.html -->
  <%= require('./body.html') %>
</body>
</html>